/**********************************
            Global
**********************************/

body{
    margin: 0px;
    padding: 0px;
    font-family: "Raleway", "sans-serif";
    background-color: white;
    max-width: 1440px;
}


/*********************
        Hero
*********************/

/*************
    Header
*************/



/*************
    Search
*************/
.SearchFilters{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}
.FiltersTitle{
    display: flex;
    margin: 0 2rem 1rem 0;
    align-items: center;
}
.FilterBtn{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.FilterIco{
    display: flex;
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;    
    align-items: center;
    justify-content: center;
    margin: -2px;
}
.Button{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

/*********************
        Main
*********************/
.Main{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 20px;
    background-color: cornflowerblue;
}
/*************
    Hosts
*************/
.Hosts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 1.5rem ;
    background-color: #f2f2f2;
}

@media screen and (max-width: 700px){
    .Hosts{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px){
    .Hosts{
        grid-template-columns: 1fr;
    }
}


.HostsThumb{
    /*  Pour mettre l'ombre portée de la case ; box-shadow: ;*/
    box-sizing: border-box;
}

/*************
    Fame
*************/
.Fame{
    display: flex;
    border-radius: 1.5rem ;
    background-color: #f2f2f2;
}

/*************
  Activities
*************/
.Activities{
    display: flex;
    max-width: 80%;
    background-color: springgreen;
}

/*********************
        Foot
*********************/
.Footer{
    background-color: #f2f2f2;
}


img{
    width: 100%;
}


/* Mémo Couleurs :
  #f2f2f2 pour le gris clair
  #0065fc pour le bleu des étoiles
*/